doctype html
head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')

body

    if registrations.length
        table.listing-table.table-dark.table-striped
            tr
                th Name
                th Email
                th Username
                th Password
            each registration in registrations
                tr
                    td= registration.name
                    td= registration.email
                    td= registration.username
                    td= registration.password
    else
        p No registrations yet :(